.new-mood {
  background-color: 	#00a8a8;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-mood button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #00e0e0;
  background-color: #003d3d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-mood button:hover,
.new-mood button:active {
  background-color:  #007575;
  border-color: 	#00adad;
}

.new-mood button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-mood button.alternative:hover,
.new-mood button.alternative:active {
  background-color:  #007575;
}
